@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #0055b2;
  --color-secondary: #0090c3;
  --color-tertiary: #00C394;
}

a { 
  @apply text-blue-400;
}

a:hover {
  @apply border-b-2 border-blue-500;
}

.text-primary {
--color-primary: #0055b2;
}

.text-tertiary {
--color-tertiary: #00C394;
}
.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
